    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Helvetica, sans-serif;
        color: brown;
        border: brown;
    }

    input, label{
        display: block;
        width: 100%;
    }

    input:focus, label:focus{
        outline: none;
    }

    a{
        color: brown;
    }

    body{
        background-image: url('../imagens/cafe.jpg');
        background-size: cover;
    }

    .container{
        width: 600px;
        height: 1000px;
        margin-left: auto;
        margin-right: auto;
        background-color: beige;
        border-radius: 10px;
        padding: 25px;
    }

    h1{
        text-align: center;
        margin-bottom: 25px;
    }

    form{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .big-box{
        flex: 1 1 100%;
        position: relative;
    }

    .small-box{
        flex: 1 1 45%;
        position: relative; 
        padding: 10px;
    }

    .spacing{
        margin-right: 2.5%;
    }

    label{
        font-weight: bold;
    }

    input{
        border-bottom: 2px solid brown;
        padding: 10px;
        margin-bottom: 40px;
    }

    input:focus{
        border-color: burlywood;
    }

    input[type="submit" ]{
        background-color: brown;
        color: beige;
        border: none;
        border-radius: 20px;
         height: 40px;
        cursor: pointer;
    }

    input[type="reset" ]{
        background-color: brown;
        color: beige;
        border: none;
        border-radius: 20px;
        height: 40px;
        cursor: pointer;
    }

    .error-validation{
        color: red;
        position: absolute;
        top: 57px;
    }




